.flex {
  margin-top: 140%;
}
.card {
  display: flex;
  flex-direction: row;
  margin-top: -450px;
  border: none;
  margin-left: -950px;
  margin-bottom: 50px;
}
.c1 {
  width: 35%;
  height: 390px;
  margin-left: 250px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c1 img {
  margin-left: 45px;
  height: 200px;
}
.c1 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c1 h4 {
  margin-left: 10px;
}
.c1 span {
  font-size: 15px;
}
.c1 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 30px;
}
.c1 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c2**/
.c2 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c2 img {
  margin-left: 25px;
  height: 200px;
}
.c2 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c2 h4 {
  margin-left: 10px;
}
.c2 span {
  font-size: 15px;
}
.c2 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c2 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c3**/
.c3 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c3 img {
  height: 200px;
}
.c3 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c3 h4 {
  margin-left: 10px;
}
.c3 span {
  font-size: 15px;
}
.c3 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c3 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c4**/
.c4 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c4 img {
  height: 200px;
}
.c4 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c4 h4 {
  margin-left: 10px;
}
.c4 span {
  font-size: 15px;
}
.c4 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c4 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c5**/
.card2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border: none;
  margin-left: 200px;
}
.c5 {
  width: 30%;
  height: 390px;
  margin-left: 200px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c5 img {
  margin-left: 45px;
  height: 200px;
}
.c5 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c5 h4 {
  margin-left: 10px;
}
.c5 span {
  font-size: 15px;
}
.c5 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 30px;
}
.c5 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c2**/
.c6 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c6 img {
  margin-left: 25px;
  height: 200px;
}
.c6 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c6 h4 {
  margin-left: 10px;
}
.c6 span {
  font-size: 15px;
}
.c6 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c6 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c3**/
.c7 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c7 img {
  height: 200px;
}
.c7 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c7 h4 {
  margin-left: 10px;
}
.c7 span {
  font-size: 15px;
}
.c7 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c7 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c4**/
.c8 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c8 img {
  height: 200px;
}
.c8 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c8 h4 {
  margin-left: 10px;
}
.c8 span {
  font-size: 15px;
}
.c8 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c8 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**card3**/
.card3 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border: none;
  margin-left: 250px;
}
.c9 {
  width: 35%;
  height: 390px;
  margin-left: 200px;
  margin-right: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c9 img {
  margin-left: 45px;
  height: 200px;
}
.c9 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c9 h4 {
  margin-left: 10px;
}
.c9 span {
  font-size: 15px;
}
.c9 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 30px;
}
.c9 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c2**/
.c10 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c10 img {
  margin-left: 25px;
  height: 200px;
}
.c10 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c10 h4 {
  margin-left: 10px;
}
.c10 span {
  font-size: 15px;
}
.c10 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c10 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c3**/
.c11 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c11 img {
  height: 200px;
}
.c11 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c11 h4 {
  margin-left: 10px;
}
.c11 span {
  font-size: 15px;
}
.c11 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c11 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c4**/
.c12 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c12 img {
  height: 200px;
}
.c12 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c12 h4 {
  margin-left: 10px;
}
.c12 span {
  font-size: 15px;
}
.c12 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c12 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**card4**/
.card4 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border: none;
  margin-left: 300px;
}
.c13 {
  width: 35%;
  height: 390px;
  margin-left: 250px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c13 img {
  margin-left: 45px;
  height: 200px;
}
.c13 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c13 h4 {
  margin-left: 10px;
}
.c13 span {
  font-size: 15px;
}
.c13 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 30px;
}
.c13 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c2**/
.c14 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c14 img {
  margin-left: 25px;
  height: 200px;
}
.c14 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c14 h4 {
  margin-left: 10px;
}
.c14 span {
  font-size: 15px;
}
.c14 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c14 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c15**/
.c15 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c15 img {
  height: 200px;
}
.c15 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c15 h4 {
  margin-left: 10px;
}
.c15 span {
  font-size: 15px;
}
.c15 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c15 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c16**/
.c16 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c16 img {
  height: 200px;
}
.c16 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c16 h4 {
  margin-left: 10px;
}
.c16 span {
  font-size: 15px;
}
.c16 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c16 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.card5 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border: none;
}
.c17 {
  width: 35%;
  height: 390px;
  margin-left: 250px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c17 img {
  margin-left: 45px;
  height: 200px;
}
.c17 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c17 h4 {
  margin-left: 10px;
}
.c17 span {
  font-size: 15px;
}
.c17 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 30px;
}
.c17 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c18**/
.c18 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c18 img {
  margin-left: 25px;
  height: 200px;
}
.c18 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c18 h4 {
  margin-left: 10px;
}
.c18 span {
  font-size: 15px;
}
.c18 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c18 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c19**/
.c19 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c19 img {
  height: 200px;
}
.c19 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c19 h4 {
  margin-left: 10px;
}
.c19 span {
  font-size: 15px;
}
.c19 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c19 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c20**/
.c20 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c20 img {
  height: 200px;
}
.c20 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c20 h4 {
  margin-left: 10px;
}
.c20 span {
  font-size: 15px;
}
.c20 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c20 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/** c6**/
.card6 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  border: none;
}
.c21 {
  width: 35%;
  height: 390px;
  margin-left: 250px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c21 img {
  margin-left: 45px;
  height: 200px;
}
.c21 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c21 h4 {
  margin-left: 10px;
}
.c21 span {
  font-size: 15px;
}
.c21 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 60%;
  height: 30px;
}
.c21 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c22**/
.c22 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c22 img {
  margin-left: 25px;
  height: 200px;
}
.c22 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c22 h4 {
  margin-left: 10px;
}
.c22 span {
  font-size: 15px;
}
.c22 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c22 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**23**/
.c23 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c23 img {
  height: 200px;
}
.c23 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c23 h4 {
  margin-left: 10px;
}
.c23 span {
  font-size: 15px;
}
.c23 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c23 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
/**c24**/
.c24 {
  width: 35%;
  height: 390px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.c24 img {
  height: 200px;
}
.c24 p {
  color: gray;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 10px;
}
.c24 h4 {
  margin-left: 10px;
}
.c24 span {
  font-size: 15px;
}
.c24 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 50%;
  height: 30px;
}
.c24 button {
  width: 20%;
  margin-left: 10px;
  border: 1px solid green;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
.rig2 {
  display: flex;
  margin-top: 20px;
  border: none;
  margin-left: 180px;
}
.c5 {
  width: 400%;
  height: 450px;
  margin-left: 160px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c5 img {
  width: 100%;
  height: 250px;
}
.c5 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c5 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c5 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c5 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c5 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c6 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  margin-left: 20px;
}
.c6 img {
  width: 100%;
  height: 250px;
}
.c6 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c6 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c6 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c6 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c6 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c7 {
  width: 400%;
  height: 450px;
  margin-right: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c7 img {
  width: 100%;
  height: 250px;
}
.c7 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c7 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c7 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c7 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c7 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c8 {
  width: 400%;
  height: 450px;
  margin-right: 50px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c8 img {
  width: 100%;
  height: 250px;
}
.c8 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c8 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c8 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c8 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c8 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
/**rig3*/
.rig3 {
  display: flex;
  margin-top: 20px;
  border: none;
}
.c9 {
  width: 400%;
  height: 450px;
  margin-left: 100px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c9 img {
  width: 100%;
  height: 250px;
}
.c9 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c9 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c9 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c9 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c9 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c10 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c10 img {
  width: 100%;
  height: 250px;
}
.c10 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c10 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c10 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c10 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c10 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c11 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c11 img {
  width: 100%;
  height: 250px;
}
.c11 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c11 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c11 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c11 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c11 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c12 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c12 img {
  width: 100%;
  height: 250px;
}
.c12 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c12 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c12 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c12 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c12 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
/**rig4*/
.rig4 {
  display: flex;
  margin-top: 20px;
  border: none;
  margin-right: 20px;
  margin-left: 280px;
}
.c13 {
  width: 400%;
  height: 450px;
  margin-left: 50px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c13 img {
  width: 100%;
  height: 250px;
}
.c13 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c13 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c13 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c13 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c13 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c14 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c14 img {
  width: 100%;
  height: 250px;
}
.c14 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c14 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c14 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c14 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c14 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c15 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c15 img {
  width: 100%;
  height: 250px;
}
.c15 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c15 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c15 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c15 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c15 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c16 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c16 img {
  width: 100%;
  height: 250px;
}
.c16 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c16 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c16 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c16 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c16 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
/**rig5*/
.rig5 {
  display: flex;
  margin-top: 20px;
  border: none;
  margin-left: 10px;
}
.c17 {
  width: 400%;
  height: 450px;
  margin-left: 50px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c17 img {
  width: 100%;
  height: 250px;
}
.c17 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c17 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c17 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c17 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c17 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c18 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c18 img {
  width: 100%;
  height: 250px;
}
.c18 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c18 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c18 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c18 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c18 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c19 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c19 img {
  width: 100%;
  height: 250px;
}
.c19 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c19 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c19 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c19 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c19 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c20 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c20 img {
  width: 100%;
  height: 250px;
}
.c20 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c20 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c20 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c20 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c20 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
/**rig6*/
.rig6 {
  display: flex;
  margin-top: 20px;
  border: none;
  margin-left: 280px;
}
.c21 {
  width: 400%;
  height: 450px;
  margin-left: 50px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c21 img {
  width: 100%;
  height: 250px;
}
.c21 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c21 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c21 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c21 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c21 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c22 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c22 img {
  width: 100%;
  height: 250px;
}
.c22 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c22 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c22 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c22 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c22 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c23 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c23 img {
  width: 100%;
  height: 250px;
}
.c23 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c23 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c23 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c23 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c23 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
.c24 {
  width: 400%;
  height: 450px;
  margin-right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}
.c24 img {
  width: 100%;
  height: 250px;
}
.c24 p {
  color: gray;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 10px;
}
.c24 h4 {
  margin-top: 10px;
  font-size: 25px;
  margin-left: 10px;
}
.c24 span {
  font-size: 13px;
  margin-left: 5px;
  color: rgb(85, 84, 84);
}
.c24 h6 {
  margin-left: 10px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 20px;
  font-size: 15px;
  color: gray;
  text-align: center;
  width: 60%;
  height: 30px;
}
.c24 button {
  width: 30%;
  height: 35px;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
  border: 1px solid green;
  background-color: green;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
