header {
  position: fixed;
  bottom: 10%;
  top: 14%;
  width: 100%;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
  background-color: white;
}
header h6 {
  color: purple;
}
header ul li {
  border-bottom: 4px solid transparent;
}
header ul li:hover {
  border-color: var(--hovertextcolor);
}
header ul li:hover .submenu {
  display: block;
}
/**submenu box submenu */
.submenu {
  position: absolute;
  margin-left: 5px;
  left: 0;
  width: 100%;
  text-align: justify;
  height: 275px;
  top: 35px;
  background-color: white;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: none;
}
.subnav ul li:hover .submenu {
  display: block;
}
.submenu p {
  color: black;
}
.subwomen {
  display: flex;
}
.women1 h6 {
  font-size: 15px;
}
.women1 p {
  line-height: 250%;
}
.women1 {
  margin-left: 20px;
}
.women2 {
  background-color: whitesmoke;
  margin-left: 20px;
}
.women2 h6 {
  font-size: 15px;
  margin-left: 20px;
}
.women2 p {
  line-height: 200%;
  margin-left: 20px;
}
.women3 {
  margin-left: 20px;
}
.women3 h6 {
  font-size: 15px;
}
.women3 p {
  line-height: 250%;
}
.women4 {
  background-color: whitesmoke;
  margin-left: 20px;
}
.women4 h6 {
  font-size: 15px;
  margin-left: 20px;
}
.women4 p {
  line-height: 250%;
  margin-left: 20px;
}
.women5 {
  margin-left: 20px;
}
.women5 h6 {
  font-size: 15px;
}
.women5 p {
  line-height: 250%;
}
.women6 {
  background-color: whitesmoke;
  margin-left: 20px;
}
.women6 h6 {
  font-size: 15px;
  margin-left: 20px;
}
.women6 p {
  line-height: 250%;
  margin-left: 20px;
}
.western {
  display: flex;
}
.wes1 {
  margin-left: 20px;
}
.wes1 h6 {
  font-size: 15px;
}
.wes1 p {
  line-height: 250%;
}
.wes2 {
  background-color: whitesmoke;
  margin-left: 20px;
}
.wes2 h6 {
  margin-left: 20px;
  font-size: 15px;
}
.wes2 p {
  line-height: 250%;
  margin-left: 20px;
}
.wes3 {
  margin-left: 20px;
}
.wes3 h6 {
  font-size: 15px;
}
.wes3 p {
  line-height: 250%;
}
.wes4 {
  background-color: whitesmoke;
  margin-left: 20px;
}
.wes4 h6 {
  margin-left: 20px;
  font-size: 15px;
}
.wes4 p {
  line-height: 250%;
  margin-left: 20px;
}
