.main {
  margin-top: 50px;
  margin-left: 120px;
  width: 45%;
  height: 350px;
  background-color: rgb(248, 248, 255);
}
.main h1 {
  margin-left: 50px;
}
.main2 {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.free img {
  height: 30px;
}
.case img {
  height: 30px;
}
.return img {
  height: 30px;
}
.main button img {
  height: 30px;
}
.main button {
  margin-top: 30px;
  width: 50%;
  height: 50px;
  border: 1px solid purple;
  border-radius: 5px;
  margin-left: 50px;
  font-size: 18px;
  color: white;
  background-color: purple;
}
.total {
  display: flex;
  margin-top: 150px;
}
.rightmain img {
  margin-top: 50px;
  height: 87%;
}

/**heading**/
.topcategoriesfrom {
  width: 1100px;
  margin: auto;
}
.topcategoriesheading {
  display: flex;
  align-items: center;
}
.horizontalLine {
  padding: 1px;
  background-color: var(--hoverTextColor);
  width: 50%;
}
.topcategoriesheading h1 {
  width: max-content;
  width: 1050px;
  color: rgb(8, 8, 8);
  font-size: 38px;
  margin: 0;
}
.topcategoreisimage {
  width: 100%;
  height: 400px;
  position: absolute;
  left: 30%;
  color: purple;
}
.fashionforword {
  margin-left: 125px;
  display: flex;
  width: 80%;
  background-image: url(https://images.meesho.com/images/marketing/1695992101090_1200.webp);
  height: 550px;
}
.womenstore {
  margin-top: 100px;
  margin-left: 20px;
}
.menstore {
  margin-top: 240px;
  margin-left: 10px;
  margin-right: 10px;
}
.kidstore {
  margin-top: 240px;
  margin-left: 10px;
  margin-right: 10px;
}
/**essential**/
.essentialbackground {
  margin-left: 125px;
  margin-top: 50px;
  display: flex;
  width: 80%;
  background-image: url(https://images.meesho.com/images/marketing/1695992792171_1200.webp);
  height: 550px;
}
.etn button {
  margin-top: 250px;
  margin-left: 100px;
  width: 100%;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 5px;
  background-color: purple;
  border: 1px solid purple;
}
.imagesub {
  display: flex;
}
.home1 {
  margin-top: 100px;
  margin-left: 200px;
}
.kit2 {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
.helath {
  margin-top: 100px;
  margin-left: 5px;
}
/**newstyle**/

.newstyle {
  margin-left: 125px;
  margin-top: 50px;
  display: flex;
  width: 80%;
  background-image: url(https://images.meesho.com/images/marketing/1695988278665_1200.webp);
  height: 550px;
}
.subbtn button {
  margin-top: 250px;
  margin-left: 100px;
  width: 100%;
  height: 60px;
  font-size: 25px;
  font-weight: bold;
  color: whitesmoke;
  border-radius: 5px;
  background-color: purple;
  border: 1px solid purple;
}
.subnew {
  display: flex;
}
.access1 {
  margin-top: 100px;
  margin-left: 200px;
}
.footwear2 {
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
}
.elect3 {
  margin-top: 100px;
  margin-left: 5px;
}
.become {
  margin-top: 50px;
  position: absolute;
  right: 10%;
  display: flex;
  width: 80%;
  background-image: url(https://images.meesho.com/images/pow/downloadBannerDesktop_1050.webp);
  height: 550px;
}
.text p {
  width: 40%;
  margin-top: 50px;
  margin-left: 450px;
  font-size: 30px;
  color: blue;
}
.text h1 {
  width: 200%;
  margin-top: 40px;
  margin-left: -35%;
  font-size: 40px;
  color: purple;
  position: absolute;
  float: left;
}
.text h2 {
  width: 200%;
  margin-top: 80px;
  margin-left: -300px;
  font-size: 40px;
  color: purple;
  position: absolute;
  float: left;
}
/**register**/
.regis {
  position: absolute;
  top: 570%;
  right: 10%;
  display: flex;
  width: 80%;
  background-image: url(https://images.meesho.com/images/pow/supplyBannerDesktop_1106.webp);
  height: 350px;
}
.registermeesho {
  color: white;
  margin-top: 30px;
  margin-left: 50px;
}
.registermeesho p {
  margin-top: 20px;
}
/*register meesho*/
.content {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  line-height: 20px;
  color: white;
  border-right: 1px solid white;
  position: absolute;
}

.content h3 {
  margin-right: 100px;
}
.enjoy {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  right: 40%;
  line-height: 20px;
  color: white;
  border-right: 1px solid white;
  position: absolute;
}
.sell {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  right: 10%;
  line-height: 20px;
  color: white;
  border-right: 1px solid white;
  position: absolute;
}
.greenicon img {
  width: 30px;
  height: 30px;
  margin-right: 220px;
  margin-bottom: -10%;
}
.input {
  width: 60%;
  height: 70px;
  position: absolute;
  top: 105px;
  right: 270%;
  background-color: white;
}
.input h4 {
  color: purple;
  font-size: 25px;
}
